.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

.barraSup {
  position: absolute;
  top: -50px;
  left: -35px;
  width: 350px;
}

.barraInf {
  position: absolute;
  top: 25px;
  left: -15px;
  width: 350px;
}
