.wrapper {
  opacity: 0;
  background: linear-gradient(180deg, #9b9b9b 0%, #4c4c4c 100%);
  /* border: 2px solid #000000; */
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0px 15px;
  margin: 0px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transform: translateY(-20px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}


.button a:hover {
  color: #000000;
}

.logo {
  height: 80px;
  width: 80px;
  cursor: pointer;
  margin: 1px;
  padding-left: 30px;
  transition: transform 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));

}
/* 
.logo:hover {
  transform: scale(1.2);
} */

.menu {
  display: flex;
  gap: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  align-items: center;
}

.menu a:active {
  transform: scale(0.95);
  /* Cambia el color del enlace activo */
}

.menu a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #ff0000;
}

.button a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}



.button {
  border: 10px solid #ff0000;
  color: #ff0000;
  padding: 1px 1px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff0000;
  /* Fondo rojo al pasar el mouse */
  /* box-shadow: 5px 5px 2px rgb(255, 255, 255); */
  color: #ffffff;
}

.button:active {
  transform: scale(0.95);
}

.menu a.button {
  border: 4px solid #ff0000;
  color: #ffffff;
  background-color: transparent;
  padding: 6px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu a.button:hover {
  background-color: #ff0000;
  color: #202020;
}