.seccion {
    position: relative;
    width: 100%;
    overflow: visible;
    padding-top: 60px;
     min-height: 100vh;
}

.fondoWrapper {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    display: flex;
     overflow: hidden;
    justify-content: center;
    z-index: 0;
}

.fondo {
    width: 100%;
    min-height: 5200px;
    /* Puedes ajustar este valor */
    object-fit: cover;
    max-width: 100%;

    height: auto;
    display: block;
}

.contenido {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    /* padding: 100px 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.titulo {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 48px;
    padding-top: 10rem;
    line-height: 1.4;
    text-align: center;
    color: #000000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 72rem;
    padding-bottom: 5rem;
    /* max-width: 1000px; */
    margin: 0 auto;
}

.item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 1rem;
    color: #000000;
}

/* Estilos para división entre secciones */

.divisionWrapper {
  position: relative;
  z-index: 20;
  height: 0;
  overflow: visible;
  width: 100%;
}

.divisionImage {
  position: absolute;
  top: -94px;
  left: 0;
  right: 0;
  width: 100% !important;
  height: 188px !important;
  max-width: 100vw !important;
  object-fit: cover;
  pointer-events: none;
  margin: 0 auto;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .contenido {
        padding: 60px 15px;
    }
}

@media (max-width: 480px) {
    .contenido {
        padding: 40px 10px;
    }
}