/* SloganSection.module.css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  padding: 4rem 1rem;
  position: relative;
  z-index: 1;
  padding-bottom: 1rem;
  padding-top: 10rem;
}

.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.frase {
  font-size: 2.2rem; /* Reducido de 2.9rem a 2.2rem */
  font-weight: 700;
  color: #000000;
  white-space: nowrap; /* Asegura que todo esté en una línea */
}