@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
  background-color: #fff;
  color: #000000;
  font-family: 'Poppins', sans-serif;

}

html, body, #__next {
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  min-width: 1320px; 
}

